.Pagination{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 1vw;
    align-items: center;
    margin-top: 20px;
    
    .pagPrevNext{
        cursor: pointer;
        text-decoration: none;
        border-radius: 10px;
        background-color: rgba(255, 255, 255);
        transition: all 0.25s;

        &:hover{
            color: rgba(255, 0, 0, 0.922);
            border: 2px solid rgba(255, 0, 0, 0.922);
            background-color: transparent;
        }
    }

    .Pagination_Num{
        width: 70vw;
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
        justify-content: center;
        
        
        .pagNum{
            cursor: pointer;
            color: white;
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: transparent;
            font-size: 18px;
            &:hover{
                color: rgba(255, 0, 0, 0.922);
            }
        }
    }
}