.Header{
    width: 100vw;
    height: 200px;
    background: rgba(0, 0, 0, 0.887);
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 50px;

    .container_Title{
        width: 20vw;
        min-width: 270px;
        margin: 0 auto;
        
            .title{
                color: rgb(232, 224, 224)
            }

    }
    .searchDiv{
        display: flex;
        justify-content: center;
        font-size: 22px;
        color: rgb(221, 220, 220);
        
        .searchInput{
            border-radius: 15px;
            width: 70vw;
            height: 30px;
            font-size: 22px;
        }
    }

}
