.PlanetsPreview{
    width: 25vw;
    height: 300px;
    border: rgb(255, 255, 255) 1px solid;
    color: white;
    font-size: 22px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.375);
    transition: 0.35s;

    &:hover{
        transform: scale(1.1)
    }
}
@media screen and (max-width: 1050px){
    .PlanetsPreview{
        margin: auto;
        width: 80%;
        height: auto;
    }
}