.title{
    color: rgb(231, 229, 229);
}
.wrapper_Planets{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    margin: 5vh 5vw;
    
}

@media screen and (max-width: 1050px){
    .wrapper_Planets{
        gap: 7vw;
    }
}